.phantergallery_container-main {
    width: 100%;
}
.phantergallery_object {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    background-color: orange;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
.phantergallery_upload-area-progress{
	display: none;
}
.phantergallery_upload-area-progress.actived{
	display: block;
}

/* Progress Bar */
.phantergallery_progressbar {
	position: relative;
	height: 4px;
	display: block;
	width: 100%;
	background-color: #acece6;
	border-radius: 2px;
	background-clip: padding-box;
	margin: 0.5rem 0 1rem 0;
	overflow: hidden; }
.phantergallery_progressbar .phantergallery_progressbar-movement {
    background-color: #26a69a; }
.phantergallery_progressbar .phantergallery_progressbar-movement:before {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: phantergallery_progressbar-movement 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	      animation: phantergallery_progressbar-movement 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
.phantergallery_progressbar .phantergallery_progressbar-movement:after {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: phantergallery_progressbar-movement-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	      animation: phantergallery_progressbar-movement-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	-webkit-animation-delay: 1.15s;
	      animation-delay: 1.15s; }

@-webkit-keyframes phantergallery_progressbar-movement {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes phantergallery_progressbar-movement {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes phantergallery_progressbar-movement-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes phantergallery_progressbar-movement-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }