*, ::after, ::before {
    box-sizing: border-box;
}
.phantergallery_container-main {
    width: 100%;
}
.phantergallery_object {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    background-color: orange;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    min-height: 103px;
}
.phantergallery_upload-image-button .phantersvg.upload-cloud {
    font-size: 50px;
    color: red;
}
.phantergallery_panel-cutter-container {
	display: none;
    position: fixed;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.phantergallery_panel-cutter-container.actived {
	display: block;
    position: fixed;
    top: 0;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
		top:-20px;
	}
	100% {
		opacity: 1;
		top:0px;
	}
}
.phantergallery_panel-cutter-container.close {
    display: block;
    position: fixed;
    top: 0;
    height: 0;
    transition: height 1s cubic-bezier(1,.04,.38,.82);
}

.phantergallery_cutter-background {
    position: absolute;
    width: 100%;
    height: 100%;
}
.phantergallery_cutter-pad {
    position: absolute;
    width: 100%;
    height: 100%;
}
.phantergallery_cutter-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.phantergallery_panel-cutter{
	position: absolute;
    width: 100%;
    height: 100%;
}
.phantergallery_cutter-zoom-container {
    background-color: rgba(255, 252, 252, 0.8);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}
.phantergallery_cutter-zoom-controls {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding: 10px 36px 10px 36px;
    position: relative;
}
.phantersvg.increase-image {
    position: absolute;
    right: 0;
    font-size: 30px;
    top: 10px;
}
.phantersvg.decrease-image {
    position: absolute;
    left: 0;
    font-size: 30px;
    top: 10px;
}
.phantergallery_cutter-zoom-control-container {
    width: 100%;
    height: 30px;
    background: grey;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.phantergallery_cutter-zoom-control {
    width: 50px;
    height: 30px;
    background-color: black;
    border-radius: 30px;
    left: 89px;
    position: absolute;
}
.phantergallery_cutter-control .phantersvg {
    font-size: 40px;
    cursor: pointer;
}
.phantergallery_cutter-control .phantersvg:hover {
    fill:orange;
}
.phantergallery_cutter-control.actived {
    fill: red;
}
.phantergallery_cutter-shadow.actived {
    background-color: black;
}
.phantergallery_cutter-controls-container {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}
.phantergallery_panel-cutter-size-container{
	position: absolute;
    box-shadow: 0px 0px 5px #b0b0b0, 0px 0px 10px #323232;
}
.phantergallery_panel-cutter-image{
	position: absolute;
}
.phantergallery_upload-area-progress{
	display: none;
}
.phantergallery_upload-area-progress.actived{
	display: block;
}

/* Progress Bar */
.phantergallery_progressbar {
	position: relative;
	height: 4px;
	display: block;
	width: 100%;
	background-color: #acece6;
	border-radius: 2px;
	background-clip: padding-box;
	margin: 0.5rem 0 1rem 0;
	overflow: hidden; }
.phantergallery_progressbar .phantergallery_progressbar-movement {
    background-color: #26a69a; }
.phantergallery_progressbar .phantergallery_progressbar-movement:before {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: phantergallery_progressbar-movement 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	      animation: phantergallery_progressbar-movement 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
.phantergallery_progressbar .phantergallery_progressbar-movement:after {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: phantergallery_progressbar-movement-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	      animation: phantergallery_progressbar-movement-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	-webkit-animation-delay: 1.15s;
	      animation-delay: 1.15s; }

@-webkit-keyframes phantergallery_progressbar-movement {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes phantergallery_progressbar-movement {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes phantergallery_progressbar-movement-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes phantergallery_progressbar-movement-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
.phantergallery_upload-messages {
    text-transform: uppercase;
    text-align: center;
    color: red;
}